VITE_API_URL=http://localhost:5000
VITE_API_URL=https://shorts-very-joystick.ngrok-free.dev
# VITE_API_URL=https://social.getaipilot.in/api
# VITE_API_URL=http://localhost:5000
VITE_SUPABASE_URL=https://oqaysrnncwbtrujnxsdo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9xYXlzcm5uY3didHJ1am54c2RvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc2NzkzMDcsImV4cCI6MjA4MzI1NTMwN30.ijLQ4PvBuL9BtuDnNfjQeRh12Q1MPInbI_Tvj1mvOd8